{# draw circle #}
{% extends 'mainView.html' %}
{% block styleOfPage %}
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous"
/>
{% endblock styleOfPage %}
{% block bodyOfPage %}
{{rows}} &times; {{cols}}
<table>
{% for i in range(rows) %}
<tr>
{% for j in range(cols) %}
<td
	onmouseover="this.innerHTML='&#x1f7e1;'"
	onmouseout="this.innerHTML='&#x1f7e0;'"
>
	&#x1f535;
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock bodyOfPage %}
