{# Main View Page #}
<!doctype html>
<html lang="it">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, shrink-to-fit=no, user-scalable=yes, initial-scale=1.0, maximum-scale=4.0, minimum-scale=0.5" />
<link
	type="image/png"
	rel="icon"
	href="https://em-content.zobj.net/thumbs/60/whatsapp/326/rocket_1f680.png"
/>
<title>{{title}}</title>
{% block styleOfPage %}
{% endblock styleOfPage %}
{% block headOfPage %}
{% endblock headOfPage %}
</head>
<body>
{% block bodyOfPage %}
{% endblock bodyOfPage %}
</body>
</html>
