<!doctype html>
<html lang="it">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/png" href="https://em-content.zobj.net/source/sony/336/high-voltage_26a1.png" />
<title>{{author}}'s WebApp</title>
</head>
<body>
<h1>{{author}}</h1>
<form method="get" action="./drawTab">
	<input type="number" name="cols" placeholder="cols" />
	×
	<input type="number" name="rows" placeholder="rows" />
	<input type="submit" value="Draw Now!">
</form>
</body>
</html>