<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Greeting Page</title>
</head>
<body>
	<h1>Welcome Back</h1>
	<p>Hi <b>{{firstname}} {{lastname}}</b></p>

	<ol>
		<li><a href="/">Home Page</a></li>
		<ol>
			<li><a href="/approach1?firstname=Bender+Bending&lastname=Rodríguez">1st Approach</a></li>
			<li><a href="/approach2/Philip/Fray">2nd Approach</a></li>
			<li><a href="/docs">3rd Approach:</a> <i>go on Swagger</i></li>
		</ol>
	</ol>
</body>
</html>